:root{
  --main-color: #209daa;
  --second-color: #c0d7eb;
  --third-color: #104d54;
  --fourth-color: #1f425f;
  --fifth-color: #3775aa;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--second-color);
}